* {
  color: #ebddb2;
}

body {
  background-color: #282828;
}

a:hover {
  text-decoration: underline;
  color: #cc241d;
}

.prayer-text > p {
  margin: 3px 0;
}

.prayer-section {
  display: flex;
}

.column {
  flex: 50%;
}
